* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
  font-family: "Aller";
  src: url('../fonts/aller/Aller_Std_Rg.ttf') format('truetype');
}

@font-face {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: normal;
    src: local('Trebuchet MS'), url('../fonts/trebuchet/trebuc.woff') format('woff');
}

@font-face {
    font-family: 'Avenir Black';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Black'), url('../fonts/avenir/AvenirLTStd-Black.otf') format('opentype');
}

@font-face {
    font-family: 'Avenir Book';
    font-style: normal;
    font-weight: lighter;
    src: local('Avenir Book'), url('../fonts/avenir/AvenirLTStd-Book.otf') format('opentype');
}

@font-face {
    font-family: 'Avenir Light';
    font-style: normal;
    font-weight: bold;
    src: local('Avenir Light'), url('../fonts/avenir/AvenirLTStd-Light.otf') format('opentype');
}

.material-symbols-outlined {
	font-variation-settings:
	'FILL' 1,
	'wght' 400,
	'GRAD' 0,
	'opsz' 24
}

body {
	background-color: darkslategray;
	color:	white;
	font-family: "Avenir Light", "Quintessential", sans-serif;
}

/* screen size <= xs */
@media (max-width: 576px) {
	body {
/*		background-color: gray;*/
	}
}

/* screen size >= md */
@media (min-width: 786px) {
	body {
		margin-left: 350px;
	}
}

/* screen size >= lg */
@media (min-width: 992px) {
	body {
/*		margin-left: 350px;*/
	}
}



bold {
	font-family: "Avenir Book";
}

bolder {
	font-family: "Avenir Black";
}
